<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Hector Saldana </title>
    <!-- Compiled and minified CSS -->
    <link rel="stylesheet" href="css/main.css">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link rel="shortcut icon" href="img/favicon.ico">

    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0-beta/css/materialize.min.css">
    <link href='//cdn.jsdelivr.net/npm/devicons@1.8.0/css/devicons.min.css' rel='stylesheet'>
</head>

<body>
    <header id="header"></header>

    <main id="content">


        <div class="row main-row">
            <div class="col s12  hide-on-med-and-up header">
                <div>
                    <br>
                </div>
                <div class="center-align">
                    <img src="img/me.jpg" alt="Me" class="circle responsive-img" style="transform: scale(-1, 1);">
                </div>
                <h3 class="center-align"> Hector Saldana</h3>
                <h5 class="center-align">Sofware Developer</h5>
                <h6 class="center-align">in Houston Tx.</h6>
                <h6 class="center-align">e-mail:
                    <a href="mailto:hector@saldana.in" style="color:black">hector@saldana.in</a>
                </h6>
            </div>
            <div class="col m4 l3 hide-on-small-only sidepane ">
                <h3 class="center-align"> Hector Saldana</h3>
                <h5 class="center-align">Sofware Developer</h5>
                <h6 class="center-align">in Houston Tx.</h6>
                <div class="center-align">
                    <img src="img/me.jpg" alt="Me" class="circle responsive-img" style="transform: scale(-1, 1);">
                </div>
                <div class="row banner valign-wrapper">
                    <h5>e-mail:
                        <a href="mailto:hector@saldana.in" style="color:white">hector@saldana.in</a>
                    </h5>
                </div>

                <div class="row banner valign-wrapper">
                    <h5>
                        <a href="http://www.electricgnome.com/docs/Hector Saldana - Resume 2018.pdf" style="color:white">Download my resume</a>

                </div>

                <div>
                    <a href="https://github.com/electricgnome">
                        <img src="img/github-logo.svg" alt="Github" style="height:35px" />
                    </a>

                    <a href="https://www.linkedin.com/in/hector-saldana-6b1b9314">
                        <img src="img/in.png" alt="Linkedin" style="height:35px" />
                    </a>

                </div>
                <div class="row banner valign-wrapper">
                    <h5>Skills</h5>
                </div>
                <div class="row">
                    <div class="col s3">
                        <ul>
                            <li>
                                <span class="devicons devicons-javascript " style="font-size: 2em"></span>
                            </li>
                            <li>
                                <span class="devicons devicons-python " style="font-size: 2em"></span>
                            </li>
                            <li>
                                <span class="devicons devicons-php " style="font-size: 2em"></span>
                            </li>
                            <li>
                                <span class="devicons devicons-postgresql " style="font-size: 2em"></span>/
                                <span class="devicons devicons-mysql" style="font-size: 2em"></span>
                            </li>
                            <li>
                                <span class="devicons devicons-html5" style="font-size: 2em"></span>/
                                <span class="devicons devicons-css3" style="font-size: 2em"></span>
                            </li>
                            <li>
                                <span class="devicons devicons-jquery " style="font-size: 2em"></span>
                            </li>
                            <li>
                                <span class="devicons devicons-nodejs " style="font-size: 3em"></span>
                            </li>
                            <li>
                                <span class="devicons devicons-npm " style="font-size: 2em"></span>
                            </li>
                            <li>
                                <span class="devicons devicons-react " style="font-size: 2em"></span>
                            </li>




                        </ul>
                    </div>
                    <div class="col s4">
                        <ul>
                            <li>
                                <span class="devicons devicons-digital-ocean" style="font-size: 2em"></span>
                            </li>
                            <li>
                                <span class="devicons devicons-aws " style="font-size: 2em"></span>
                            </li>
                            <li>
                                <span class="devicons devicons-heroku " style="font-size: 2em"></span>
                            </li>
                            <li>
                                <span class="devicons devicons-nginx " style="font-size: 3em"></span>
                            </li>
                            <li>
                                <span class="devicons devicons-linux" style="font-size: 2em"></span>/
                                <span class="devicons devicons-debian" style="font-size: 2em"></span>
                            </li>
                            <li>
                                <span class="devicons devicons-gnu " style="font-size: 2em"></span>/
                                <span class="devicons devicons-terminal" style="font-size: 2em"></span>
                            </li>
                            <li>
                                <span class="devicons devicons-redis " style="font-size: 2em"></span>
                            </li>
                            <li>
                                <span class="devicons devicons-github " style="font-size: 2em"></span>
                            </li>
                            <li>
                                <span class="devicons devicons-travis " style="font-size: 2em"></span>
                            </li>



                        </ul>
                    </div>
                    <div class="col s4">
                        <ul>
                            <li>APIs</li>
                            <li>web sockets</li>
                            <li>Arduino</li>
                            <li>Raspberry Pi</li>
                            <li>PLC/HMI</li>
                            <li>SCADA</li>
                            <li>4-20mA/HART</li>
                            <li>Modbus</li>
                            <li>circuit design</li>

                        </ul>
                    </div>
                </div>
                <div class="row banner valign-wrapper">
                    <h5>Education</h5>
                </div>
                <div>
                    <ul>
                        <p style="font-weight: bold">DigitalCrafts</p> 2018/02 - 2018/08
                        <li>Houston, Tx</li>
                        <li style="font-weight: bold">Full-stack Software Development program</li>

                        <li>Immersive course covering HTML, CSS, JavaScript, and Python, including an enphasis on cutting-edge
                            frameworks like React/Redux and server-side technologies including Node.js, Express, and MySQL</li>
                    </ul>
                </div>
                <div>
                    <ul>
                        <p style="font-weight: bold">Texas A&M - Kingsville</p> 2005/01 - 2009/12
                        <li>B.S. Electrical Engineering</li>
                        <li>GPA: 3.45</li>
                    </ul>
                </div>

            </div>

            <div class="col s12 m8 l8">

                <h5><p style="text-align: justify"> Hello! My name is Hector, as a U.S. Air Force Veteran I know the value of collaboration, mentoring, and the importance of being 
                        dedicated to the mission. I earned my B.S. in Electrical Engineering from Texas A&M -Kingsville, graduated with honors and was awarded magna cum laude. 
                        My experience as an engineer has cultivated my dedication to work through complex and abstract problems in order to meet demands and deadlines in a timely manner 
                        while maintaing high qualities of standard. 
                        I've had the opportunuity to live in Mexico, Germany, and China for extended periods of time, both through my military service and my professional career. 
                        My exposure to different cultures and customs has taught me the value of diversity and the vast number of similarities we share both personally and professionaly.
                        Being able to speak fluent Spanish, English, and basic Mandarin Chinese, has enabled me to communicate with other engineers world wide in order to contribute 
                        to open source projects more effectively.
                        
                        Having worked both for small startups like <a target="_blank" style="color:rgb(96, 96, 119)" href="http://www.dfrobot.com">DFRobot</a>, to large corporations 
                        like Schlumberger has given me a broad prospective on the similarities and differences between the agility of startups and the established protocols of large corporations.
                        
                        I'm versatile in my approach to solving problems, open to new and inovative ideas, culturally diverse, passionate about web technologies, and to be contributing 
                        to the development of new technologies. I love the challenge of learning new skills, constantly exploring the latest developments in technology in order 
                        to incorporate them in my skillset and expand my awareness of the direction technology is heading.

                        I love to travel; to get to know local cultures through food, drink, music, and customs. 
    
                </p><p style="text-align: justify">Below you can see a couple of apps I have developed that are currently being used in the real world by real businesses. </p>
                   
                </h5>


                <!-- HIDDEN STUFF -->
                <div class="col hide-on-med-and-up">
                    <div>
                        <a target="_blank" href="https://github.com/electricgnome">
                            <img src="img/github-logo.svg" alt="Github" style="height:35px" />
                        </a>
                        <a target="_blank" href="https://www.linkedin.com/in/hector-saldana-6b1b9314">
                            <img src="img/in.png" alt="Linkedin" style="height:35px" />
                        </a>
                    </div>

                    <div class="row ">
                        <div class="col s12 valign-wrapper ">
                            <h5>Skills</h5>
                        </div>

                        <div class="col s5">
                            <ul>
                                <li>Linux bash</li>
                                <li>Python</li>
                                <li>JavaScript</li>
                                <li>SQL</li>
                                <li>HTML</li>
                                <li>CSS</li>
                            </ul>
                        </div>
                        <div class="col s5">
                            <ul>
                                <li>AWS</li>
                                <li>Heroku</li>
                                <li>React</li>
                                <li>Node/Express</li>
                                <li>web sockets</li>
                                <li>APIs</li>
                            </ul>
                        </div>
                    </div>
                    <div class="row  valign-wrapper">
                        <h5>Education</h5>
                    </div>
                    <div>
                        <ul>
                            <p style="font-weight: bold">DigitalCrafts</p> 2018/02 - 2018/08
                            <li>Houston, Tx</li>
                            <li style="font-weight: bold">Full-stack Software Development program</li>

                            <li>Immersive course covering HTML, CSS, JavaScript, and Python, including an enphasis on cutting-edge
                                frameworks like React/Redux and server-side technologies including Node.js, Express, and
                                MySQL
                            </li>
                        </ul>
                    </div>
                    <div>
                        <ul>
                            <p style="font-weight: bold">Texas A&M - Kingsville</p> 2005/01 - 2009/12
                            <li>B.S. Electrical Engineering</li>
                            <li>GPA: 3.45</li>
                        </ul>
                    </div>


                </div>

                <!-- END HIDDEN STUFF -->

                <div class="divider">
                </div>
                <h4>
                    <b>Projects</b>
                </h4>
                <div class="divider">
                </div>
                <div class="row">
                    <div class="col s1">
                    </div>
                    <div class="col s11">
                        <h5>
                            <a target="_blank" href="http://www.kappainsure.me" style="color:black">Indepdenent Insurance CRM
                        </h5>
                        <div class="row">
                            <div class="col s4">
                                <img src="img/kappa_sh.png" alt="Kappa CRM" class="responsive-img">
                                </a>
                            </div>
                            <p style="font-weight: bold">Technology used:</p>
                            <div class="col s5 m2">
                                <ul>
                                    <li>Node.js/Express</li>
                                    <li>Nunjucks</li>
                                    <li>Redis</li>
                                    <li>PBKDF2 Encryption</li>
                                    <li>Socket.io</li>
                                </ul>
                            </div>
                            <div class="col s3 m6">
                                <ul>
                                    <li>AWS SES</li>
                                    <li>Heroku</li>
                                    <li>PostgresSQL</li>
                                    <li>Materialize CSS</li>
                                    <li>JavaScript/JQuery</li>
                                </ul>
                            </div>
                        </div>
                        <p>I developed a CRM based off of the needs of a local Independent Insurance Agency. The CRM includes
                            a customer facing interface to allow potential customers to submit their information in order
                            to request an insurance quote. For the back office interface their is a task manager which allows
                            an agent to create/assign time sensitive tasks related to customer's policies in order to improve
                            customer retention. An agent may also see a customer profile to see what insurance policies the
                            customer has within the agency, see any related documents/pictures, and make updates as neccessary.
                        </p>
                        <h5>
                            <a target="_blank" href="https://github.com/electricgnome/express_crm" style="color:black">view git</a>
                        </h5>
                    </div>

                    <div class="col s12 divider"></div>

                    <div class="col s1">
                    </div>
                    <div class="col s11">
                        <h5>
                            <a target="_blank" href="https://fuelreport.herokuapp.com/" style="color:black">Fleet fuel reporting
                        </h5>
                        <div class="row">
                            <div class="col s4">

                                <img src="img/fuel_sh.png" alt="Fuel Report ERP" class="responsive-img">
                                </a>

                            </div>
                            <p style="font-weight: bold">Technology used:</p>
                            <div class="col s5 m2">
                                <ul>
                                    <li>Node.js/Express</li>
                                    <li>Nunjucks</li>
                                    <li>Redis</li>
                                    <li>PBKDF2 Encryption</li>
                                    <li>Heroku</li>
                                </ul>
                            </div>
                            <div class="col s3 m6">
                                <ul>
                                    <li>PostgresSQL</li>
                                    <li>Materialize CSS</li>
                                    <li>JavaScript/JQuery</li>
                                </ul>
                            </div>
                        </div>

                        <p>Working with a large transportation company to develop a fuel reporting tool to track indivudal driver
                            fuel spending accross a large fleet of 400 vehicles. In an effort to minimize current manual
                            work load and quickly identify fraud, waste and abuse.
                        </p>
                        <h5>
                            <a target="_blank" href="https://github.com/electricgnome/fuelReport" style="color:black">view git</a>
                        </h5>

                    </div>
                </div>
                <div class="divider">
                </div>
                <!-- Work Summary -->
                <h4>
                    <b>Work Summary</b>
                </h4>
                <div class="divider">
                </div>
                <div class="row">
                    <div class="col s2">
                        2013/03-Present
                    </div>
                    <div class="col s10">
                        <h5>Automation Engineer</h5>
                        <h6>Cameron a Schlumberger Co.</h6>

                    </div>
                </div>

                <div class="row">
                    <div class="col s2">
                        2011/05 - 2012/12

                    </div>
                    <div class="col s10">
                        <h5>Engineering Project Manager</h5>
                        <h6>DFRobot</h6>

                    </div>
                </div>
                <div class="row">
                    <div class="col s2">
                        2010/01 - 2011/05

                    </div>
                    <div class="col s10">
                        <h5>Chief Representative Officer</h5>
                        <h6>Industrias Radson S.A. de C.V.</h6>

                    </div>
                </div>
                <div class="row">
                    <div class="col s2">
                        2009/06 - 2009/08

                    </div>
                    <div class="col s10">
                        <h5>I&E Project Engineer</h5>
                        <h6>LyondellBassell</h6>

                    </div>
                </div>
                <div class="row">
                    <div class="col s2">
                        2001/09 - 2004/10

                    </div>
                    <div class="col s10">
                        <h5>Senior Airmen - Communications Technician</h5>
                        <h6>U.S. Air Force</h6>
                    </div>
                </div>
                <!-- Work Summary -->





            </div>
        </div>


    </main>
    <!-- <footer> -->


    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q"
        crossorigin="anonymous"></script>
    <!-- Compiled and minified JavaScript -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0-beta/js/materialize.min.js"></script>
    <!-- Optional JavaScript -->
    <script src="js/main.js"></script>
    <!-- <script src="public/js/main.js"></script> -->
    <!-- </footer> -->




</body>

</html>